In [16]:
import pandas as pd
import numpy as np
import sys
import os

from selenium import webdriver
from bs4 import BeautifulSoup
import time

In [2]:
df=pd.read_csv("japan.csv")
df

,Stock code,company name,opening price,high price,low price,closing price,trading volume
0,7203,NaN,NaN,NaN,NaN,NaN,NaN
1,6861,NaN,NaN,NaN,NaN,NaN,NaN
2,6758,NaN,NaN,NaN,NaN,NaN,NaN
3,9432,NaN,NaN,NaN,NaN,NaN,NaN
4,9984,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
95,7832,NaN,NaN,NaN,NaN,NaN,NaN
96,3407,NaN,NaN,NaN,NaN,NaN,NaN
97,7270,NaN,NaN,NaN,NaN,NaN,NaN
98,6701,NaN,NaN,NaN,NaN,NaN,NaN
99,6762,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
cols_to_fill=list(df.columns)
cols_to_fill

['Stock code',
 'company name',
 'opening price',
 'high price',
 'low price',
 'closing price',
 'trading volume']

In [17]:
def func(i,stock_code):
    driver1 = webdriver.Chrome()
    driver1.get(f'https://jp.investing.com/search/?q={stock_code}')

    soup1 = BeautifulSoup(driver1.page_source, features="html.parser")
    ext1=soup1.findAll("a",{"class":"js-inner-all-results-quote-item row"})[0]
    link=ext1.get("href")
    name=ext1.find("span",{"class":"third"}).text
    driver1.close()
    
    driver2 = webdriver.Chrome()
    driver2.get(f'https://jp.investing.com{link}')
    soup2 = BeautifulSoup(driver2.page_source, features="html.parser")
    l=soup2.findAll("span",{"class":"key-info_dd-numeric__2cYjc"})
           
    df.loc[i,cols_to_fill[1]]=name
    
    df.loc[i,cols_to_fill[2]]=l[4].text
    df.loc[i,cols_to_fill[3]]=l[2].text
    df.loc[i,cols_to_fill[4]]=l[1].text
    df.loc[i,cols_to_fill[5]]=l[0].text
    df.loc[i,cols_to_fill[6]]=l[8].text
    
    driver2.close()
    
    print(name,l[4].text)
    
    print(name,"：正常終了")

In [22]:
import time

for i,row in df[80:].iterrows():
    try:
        func(i,row["Stock code"])
        time.sleep(2)
    except:
        print(i,row["Stock code"])

SGホールディングス株式会社 3,010
SGホールディングス株式会社 ：正常終了
協和発酵キリン株式会社 3,655
協和発酵キリン株式会社 ：正常終了
住友商事株式会社 1,562
住友商事株式会社 ：正常終了
株式会社ネクソン 2,032
株式会社ネクソン ：正常終了
キリンホールディングス株式会社 1,996
キリンホールディングス株式会社 ：正常終了
Nippon Steel Corp 2,247
Nippon Steel Corp ：正常終了
レーザーテック株式会社 24,280
レーザーテック株式会社 ：正常終了
Sompo Holdings Inc 4,828
Sompo Holdings Inc ：正常終了
株式会社アドバンテスト 9,670
株式会社アドバンテスト ：正常終了
味の素株式会社 3,232
味の素株式会社 ：正常終了
野村ホールディングス株式会社 534.8
野村ホールディングス株式会社 ：正常終了
豊田通商株式会社 4,880
豊田通商株式会社 ：正常終了
楽天株式会社 1,142
楽天株式会社 ：正常終了
住友不動産株式会社 3,562
住友不動産株式会社 ：正常終了
株式会社マキタ 6,300
株式会社マキタ ：正常終了
株式会社バンダイナムコホールディングス 7,591
株式会社バンダイナムコホールディングス ：正常終了
旭化成株式会社 1,140
旭化成株式会社 ：正常終了
株式会社SUBARU 2,060
株式会社SUBARU ：正常終了
日本電気株式会社 5,790
日本電気株式会社 ：正常終了
TDK株式会社 11,460
TDK株式会社 ：正常終了

In [23]:
df[50:100]

,Stock code,company name,opening price,high price,low price,closing price,trading volume
50,7733,オリンパス株式会社,"2,295","2,310","2,269","2,311.5","4,540,500"
51,6201,株式会社豊田自動織機,"9,330","9,380","9,290","9,290","227,700"
52,7309,株式会社シマノ,"32,480","32,810","32,330","32,300","141,400"
53,4911,株式会社資生堂,"7,293","7,409","7,273","7,293","1,576,600"
54,9020,東日本旅客鉄道株式会社,"7,383","7,474","7,366","7,431","1,286,100"
55,4523,エーザイ株式会社,"9,130","9,298","9,110","9,086","1,013,500"
56,4578,大塚ホールディングス株式会社,"4,692","4,765","4,682","4,681","743,000"
57,8267,イオン株式会社,"2,937","2,977","2,936","2,919.5","1,984,600"
58,6326,株式会社クボタ,"2,269.5","2,317","2,269","2,274.5","1,951,500"
59,9613,株式会社エヌ・ティ・ティ・データ,"1,971","2,039","1,971","1,981","4,965,800"
60,8591,オリックス株式会社,"2,056","2,100","2,055.5","2,051.5","4,205,700"
61,6301,株式会社小松製作所,"2,756","2,820","2,738.5","2,662.5","6,705,100"
62,6971,京セラ株式会社,"6,850","6,989","6,846","6,846","1,005,400"
63,2502,アサヒグループホールディングス株式会社,"5,150","5,282","5,145","5,114","1,466,500"
64,6869,シスメックス株式会社,"12,435","12,565","12,405","12,520","364,500"
65,9843,株式会社ニトリホールディングス,"20,650","20,915","20,565","20,580","216,600"
66,8750,第一生命ホールディングス株式会社,"2,180","2,236.5","2,173.5","2,169.5","3,588,600"
67,4307,株式会社野村総合研究所,"4,090","4,195","4,090","4,135","1,488,600"
68,8802,三菱地所株式会社,"1,717.5","1,740","1,715.5","1,721","3,311,900"
69,8801,三井不動産株式会社,"2,516","2,557","2,514.5","2,524","1,660,700"
70,7201,日産自動車株式会社,583.8,585.2,573.6,578.5,"9,597,500"
71,1925,大和ハウス工業株式会社,"3,391","3,448","3,371","3,356","1,508,000"
72,7269,スズキ株式会社,"4,762","4,823","4,734","4,756","1,189,100"
73,4507,塩野義製薬株式会社,"6,951","7,070","6,949","6,952","2,061,300"
74,6723,ルネサスエレクトロニクス株式会社,"1,204","1,228","1,202","1,189","13,665,400"
75,8725,MS&ADインシュアランスグループホールディングス株式会社,"3,562","3,627","3,557","3,555","1,233,400"
76,4684,株式会社オービック,"20,950","21,390","20,870","20,950","111,800"
77,6502,株式会社東芝,"4,775","4,800","4,680","4,775","1,783,900"
78,6645,オムロン株式会社,"10,490","10,860","10,460","10,380","949,000"
79,9735,セコム株式会社,"8,345","8,490","8,326","8,345","591,900"
80,9143,SGホールディングス株式会社,"3,010","3,060","3,000","2,992","757,100"
81,4151,協和発酵キリン株式会社,"3,655","3,700","3,625","3,595","810,800"
82,8053,住友商事株式会社,"1,562","1,573","1,553","1,554.5","2,619,300"
83,3659,株式会社ネクソン,"2,032","2,113","2,022","2,010","2,302,000"
84,2503,キリンホールディングス株式会社,"1,996","2,032.5","1,995","1,994","2,770,200"
85,5401,Nippon Steel Corp,"2,247","2,262.5","2,192.5","2,248","12,397,400"
86,6920,レーザーテック株式会社,"24,280","24,980","23,440","24,070","7,777,300"
87,8630,Sompo Holdings Inc,"4,828","4,898","4,811","4,828","951,800"
88,6857,株式会社アドバンテスト,"9,670","9,700","9,450","9,520","2,922,300"
89,2802,味の素株式会社,"3,232","3,275","3,228","3,244","1,866,000"
90,8604,野村ホールディングス株式会社,534.8,542.9,534.1,533.6,"11,110,400"
91,8015,豊田通商株式会社,"4,880","4,900","4,850","4,865","745,600"
92,4755,楽天株式会社,"1,142","1,160","1,139","1,152","6,593,600"
93,8830,住友不動産株式会社,"3,562","3,638","3,562","3,552","932,700"
94,6586,株式会社マキタ,"6,300","6,430","6,290","6,320","575,200"
95,7832,株式会社バンダイナムコホールディングス,"7,591","7,856","7,589","7,641","769,100"
96,3407,旭化成株式会社,"1,140","1,151","1,138.5","1,136","3,327,400"
97,7270,株式会社SUBARU,"2,060","2,074","2,047","2,036.5","2,809,600"
98,6701,日本電気株式会社,"5,790","5,940","5,770","5,780","1,479,700"
99,6762,TDK株式会社,"11,460","11,700","11,460","11,570","807,400"

In [24]:
df.to_csv("Sclaping_submit2.csv")

----

In [11]:
driver = webdriver.Chrome()
driver.get(f'https://jp.investing.com/search/?q=7203')

soup = BeautifulSoup(driver.page_source, features="html.parser")
name=soup.findAll("a",{"class":"js-inner-all-results-quote-item row"})[0]

name

<a class="js-inner-all-results-quote-item row" href="/equities/toyota-motor-corporation">
<span class="flag first"><i class="ceFlags middle Japan"></i></span>
<span class="second">7203</span>
<span class="third">トヨタ自動車株式会社</span>
<span class="fourth">株式 - 東京 equities</span>
</a>

In [14]:
link=name.get("href")
link

'/equities/toyota-motor-corporation'

In [19]:
driver = webdriver.Chrome()
driver.get(f'https://jp.investing.com{link}')
soup2 = BeautifulSoup(driver.page_source, features="html.parser")
name2=soup2.findAll("span",{"class":"key-info_dd-numeric__2cYjc"})
name2

[<span class="key-info_dd-numeric__2cYjc"><span>9,507</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>9,401</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>9,487</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>30.55</span><span>T</span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>9,409</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>6,780</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>10,330</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>1,058.7</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>3,673,300</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>26.48</span><span>T</span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>240.00</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>2.52</span><span>%</span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>5,859,776</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>8.98</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>0.91</span><span></span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>32.28</span><span>%</span></span>,
 <span class="key-info_dd-numeric__2cYjc"><span>2,785,753,976</span><span></span></span>]

In [ ]:
4,2,1,0,8