In [1]:
import pandas as pd
import numpy as np
import sys
import os

In [3]:
df=pd.read_csv("japan.csv")
df

,Stock code,company name,opening price,high price,low price,closing price,trading volume
0,7203,NaN,NaN,NaN,NaN,NaN,NaN
1,6861,NaN,NaN,NaN,NaN,NaN,NaN
2,6758,NaN,NaN,NaN,NaN,NaN,NaN
3,9432,NaN,NaN,NaN,NaN,NaN,NaN
4,9984,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
95,7832,NaN,NaN,NaN,NaN,NaN,NaN
96,3407,NaN,NaN,NaN,NaN,NaN,NaN
97,7270,NaN,NaN,NaN,NaN,NaN,NaN
98,6701,NaN,NaN,NaN,NaN,NaN,NaN
99,6762,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
cols_to_fill=list(df.columns)
cols_to_fill

['Stock code',
 'company name',
 'opening price',
 'high price',
 'low price',
 'closing price',
 'trading volume']

In [123]:
def func(i,stock_code):
    driver = webdriver.Chrome()
    driver.get(f'https://finance.yahoo.co.jp/quote/{int(stock_code)}.T')
    
    soup = BeautifulSoup(driver.page_source, features="html.parser")
    
    name=soup.findAll("h1",{"class":"_6uDhA-ZV"})[0].text
    l=soup.findAll("span",{"class":"_3rXWJKZF _11kV6f2G"})
    
    df.loc[i,cols_to_fill[1]]=name
    
    df.loc[i,cols_to_fill[2]]=l[1].text
    df.loc[i,cols_to_fill[3]]=l[2].text
    df.loc[i,cols_to_fill[4]]=l[3].text
    df.loc[i,cols_to_fill[5]]=l[0].text
    df.loc[i,cols_to_fill[6]]=l[5].text
    
    driver.close()
    
    print(name,"：正常終了")

In [125]:
import time

for i,row in df.iterrows():
    func(i,row["Stock code"])
    time.sleep(2)

トヨタ自動車(株) ：正常終了
(株)キーエンス ：正常終了
ソニーグループ(株) ：正常終了
日本電信電話(株) ：正常終了
ソフトバンクグループ(株) ：正常終了
(株)リクルートホールディングス ：正常終了
(株)三菱ＵＦＪフィナンシャル・グループ ：正常終了
ＫＤＤＩ(株) ：正常終了
(株)ファーストリテイリング ：正常終了
ダイキン工業(株) ：正常終了
信越化学工業(株) ：正常終了
中外製薬(株) ：正常終了
日本電産(株) ：正常終了
ソフトバンク(株) ：正常終了
任天堂(株) ：正常終了
東京エレクトロン(株) ：正常終了
ＨＯＹＡ(株) ：正常終了
(株)村田製作所 ：正常終了
ホンダ ：正常終了
武田薬品工業(株) ：正常終了
(株)日立製作所 ：正常終了
(株)オリエンタルランド ：正常終了
(株)デンソー ：正常終了
伊藤忠商事(株) ：正常終了
(株)三井住友フィナンシャルグループ ：正常終了
Ｚホールディングス(株) ：正常終了
第一三共(株) ：正常終了
エムスリー(株) ：正常終了
三菱商事(株) ：正常終了
ファナック(株) ：正常終了
ＳＭＣ(株) ：正常終了
富士フイルムホールディングス(株) ：正常終了
(株)セブン＆アイ・ホールディングス ：正常終了
(株)ゆうちょ銀行 ：正常終了
ＪＴ ：正常終了
(株)みずほフィナンシャルグループ ：正常終了
三井物産(株) ：正常終了
富士通(株) ：正常終了
東京海上ホールディングス(株) ：正常終了
日本郵政(株) ：正常終了
(株)ブリヂストン ：正常終了
テルモ(株) ：正常終了
アステラス製薬(株) ：正常終了
キヤノン(株) ：正常終了
日本ペイントホールディングス(株) ：正常終了
東海旅客鉄道(株) ：正常終了
花王(株) ：正常終了
三菱電機(株) ：正常終了
パナソニック(株) ：正常終了
ユニ・チャーム(株) ：正常終了
オリンパス(株) ：正常終了
(株)豊田自動織機 ：正常終了
(株)シマノ ：正常終了
(株)資生堂 ：正常終了
東日本旅客鉄道(株) ：正常終了
エーザイ(株) ：正常終了
大塚ホールディングス(株) ：正常終了
イオン(株) ：正常終了
(株)クボタ ：正常終了
(株)ＮＴＴデータ ：正常終了
オリックス(株) ：正常終了
コマツ ：正常終了
京セラ(株) ：正常終了
アサヒグループホールディングス(株) ：正常終了
シスメックス(株) ：正常終了
(株)ニトリホールディングス ：正常終了
第一生命ホールディングス(株) ：正常終了
(株)野村総合研究所 ：正常終了
三菱地所(株) ：正常終了
三井不動産(株) ：正常終了
日産自動車(株) ：正常終了
大和ハウス工業(株) ：正常終了
スズキ(株) ：正常終了
塩野義製薬(株) ：正常終了
ルネサスエレクトロニクス(株) ：正常終了
ＭＳ＆ＡＤインシュアランスグループホールディングス(株) ：正常終了
(株)オービック ：正常終了
(株)東芝 ：正常終了
オムロン(株) ：正常終了
セコム(株) ：正常終了
ＳＧホールディングス(株) ：正常終了
協和キリン(株) ：正常終了
住友商事(株) ：正常終了
(株)ネクソン ：正常終了
キリンホールディングス(株) ：正常終了
日本製鉄(株) ：正常終了
レーザーテック(株) ：正常終了
ＳＯＭＰＯホールディングス(株) ：正常終了
(株)アドバンテスト ：正常終了
味の素(株) ：正常終了
野村ホールディングス(株) ：正常終了
豊田通商(株) ：正常終了
楽天グループ(株) ：正常終了
住友不動産(株) ：正常終了
(株)マキタ ：正常終了
(株)バンダイナムコホールディングス ：正常終了
旭化成(株) ：正常終了
(株)ＳＵＢＡＲＵ ：正常終了
ＮＥＣ ：正常終了
ＴＤＫ(株) ：正常終了

In [126]:
df.tail(10)

,Stock code,company name,opening price,high price,low price,closing price,trading volume
90,8604,野村ホールディングス(株),533.2,539.9,531.7,530,"3,800,964"
91,8015,豊田通商(株),"4,800","4,845","4,745","4,730","3,592,981"
92,4755,楽天グループ(株),"1,080","1,130","1,078","1,079","13,823,796"
93,8830,住友不動産(株),"3,504","3,571","3,500","3,482","2,746,357"
94,6586,(株)マキタ,"6,190","6,240","6,130","6,090","3,361,053"
95,7832,(株)バンダイナムコホールディングス,"7,448","7,539","7,428","7,489","3,488,380"
96,3407,旭化成(株),"1,150","1,159","1,138.5","1,148.5","2,914,704"
97,7270,(株)ＳＵＢＡＲＵ,"2,030.5","2,051.5","2,028","2,018.5","3,529,410"
98,6701,ＮＥＣ,"5,710","5,720","5,680","5,640","4,051,107"
99,6762,ＴＤＫ(株),"11,570","11,620","11,440","11,510","5,100,646"

In [127]:
df.to_csv("japan_submit.csv")

In [104]:
import time
from selenium import webdriver

# 仮想ブラウザ起動、URL先のサイトにアクセス
driver = webdriver.Chrome()
#driver.get('https://finance.yahoo.co.jp/quote/6134.T')
driver.get('https://finance.yahoo.co.jp/quote/7952.T')

from bs4 import BeautifulSoup
soup = BeautifulSoup(driver.page_source, features="html.parser")
print(soup.findAll("span",{"class":"_3rXWJKZF _11kV6f2G"}))

[<span class="_3rXWJKZF _11kV6f2G">3,890</span>, <span class="_3rXWJKZF _11kV6f2G">3,930</span>, <span class="_3rXWJKZF _11kV6f2G">3,930</span>, <span class="_3rXWJKZF _11kV6f2G">3,840</span>, <span class="_3rXWJKZF _11kV6f2G">12,100</span>, <span class="_3rXWJKZF _11kV6f2G">46,867</span>, <span class="_3rXWJKZF _11kV6f2G">3,190～4,590</span>, <span class="_3rXWJKZF _11kV6f2G">34,785</span>, <span class="_3rXWJKZF _11kV6f2G">9,011,560</span>, <span class="_3rXWJKZF _11kV6f2G">1.42</span>, <span class="_3rXWJKZF _11kV6f2G">55.00</span>, <span class="_3rXWJKZF _11kV6f2G">10.70</span>, <span class="_3rXWJKZF _11kV6f2G">1.14</span>, <span class="_3rXWJKZF _11kV6f2G">360.68</span>, <span class="_3rXWJKZF _11kV6f2G">3,382.80</span>, <span class="_3rXWJKZF _11kV6f2G">386,000</span>, <span class="_3rXWJKZF _11kV6f2G">100</span>, <span class="_3rXWJKZF _11kV6f2G">4,575</span>, <span class="_3rXWJKZF _11kV6f2G">2,658</span>]

In [99]:
#<h1 class="_6uDhA-ZV">(株)ＦＵＪＩ</h1>
print(soup.findAll("h1",{"class":"_6uDhA-ZV"})[0].text)

(株)河合楽器製作所