In [2]:
import numpy as np
import pandas as pd
import os

from selenium import webdriver
from bs4 import BeautifulSoup
import time
from selenium.webdriver.chrome.options import Options

In [3]:
data_path = "Wisdom Long List 20210917.xlsx"

In [5]:
df1 = pd.read_excel(data_path, sheet_name="MY Main Long List")
df1.head(30)

,No.,Person in Charge,Company Name,Quick Summary,Company Overview,DNB Company info,Good Candidate Reason,Level of Recommendation\n(✗- ✓✓✓),Type of Company,Unnamed: 9,...,Unnamed: 28,Market Cap \n(MYR Mn),Website Quality\n(✓/✖),Presence,Unnamed: 32,Shareholders,Website,Contact Available?,Contacted?,Met?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,System Integrator,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ERP only,ERP & Others,...,Net Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Nas,Abeo International Sdn Bhd,NaN,Abeo is a provider of business consulting and ...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://abeoinc.com/,NaN,NaN,NaN
3,2.0,Nas,Arvato Systems Malaysia Sdn Bhd,NaN,Arvato is a leading international service prov...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://abeoinc.com//,NaN,NaN,NaN
4,3.0,Nas,Aspert Innovations Sdn Bhd,NaN,Aspert Innovations Sdn Bhd is a consultancy fi...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,aspert.com.my,NaN,NaN,NaN
5,4.0,Nas,Aureus Consult Sdn Bhd,NaN,Aureus Consult is an ERP Consulting & services...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,www.aureus.com.my,NaN,NaN,NaN
6,5.0,Nas,cbs Corporate Business Solutions Malaysia Sdn Bhd,NaN,The company provides their customers with comp...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cbs-consulting.com/apac/,NaN,NaN,NaN
7,6.0,Nas,Croesus IT Solutions Sdn Bhd,NaN,"Established in 2004, Croesus Group of Companie...",NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://croesus.com.my/,NaN,NaN,NaN
8,7.0,Nas,EPIUSE Malaysia Sdn Bhd,NaN,"EPI-USE employs more than 3,000 people in 34 c...",NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.epiuse.com/,NaN,NaN,NaN
9,8.0,Nas,E-Outsource Asia Sdn Bhd,NaN,The company's services and solutions include A...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.e-oasia.com/,NaN,NaN,NaN
10,9.0,Nas,EMI Solutions Sdn Bhd,NaN,"The company has been focused on developing, im...",NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.emi-solutions.biz/,NaN,NaN,NaN
11,10.0,Nas,EqualOne Sdn Bhd,NaN,equalOne is a regional finance-oriented consul...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.equalone.com/,NaN,NaN,NaN
12,11.0,Nas,Fast Track SBOi Sdn Bhd,NaN,The company provides SAP Business One & SAP Bu...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.fasttrack.net.my/,NaN,NaN,NaN
13,12.0,Nas,HCL Technologies Malaysia,NaN,HCL is an SAP Global Strategic Services Partne...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,www.hcltech.com/sap,NaN,NaN,NaN
14,13.0,Nas,iByte Solutions Sdn Bhd,NaN,"The company provides IT Consulting, System Int...",NaN,NaN,NaN,✓,NaN,...,NaN,NaN,✓,"Malaysia, Hong Kong",NaN,NaN,http://ibytecloud.com/,NaN,NaN,NaN
15,14.0,Nas,Infokall Solutions Sdn Bhd,NaN,Since the company inception in 2004 in Malaysi...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,http://infokall.com.my/,NaN,NaN,NaN
16,15.0,Nas,SMBS SOLUTION SDN BHD,NaN,The company provides and implement SAP Busines...,NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://smbs-tech.com/,NaN,NaN,NaN
17,16.0,Nas,Brillante Insights Sdn Bhd,NaN,"The company focus on Analytics, Big Data, S/4 ...",NaN,NaN,NaN,✓,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.brillanteinsights.com/,NaN,NaN,NaN
18,17.0,Nas,Build Technology Supply Sdn Bhd,NaN,Build Technology Supply Sdn Bhd is an ICT equi...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.build.com.my/,NaN,NaN,NaN
19,18.0,Nas,KDS Consulting Sdn Bhd,NaN,The company provides enterprise solutions desi...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,https://kds.com.my/,NaN,NaN,NaN
20,19.0,Nas,KG Information Systems Sdn Bhd,NaN,"KGISL is a global IT services, consulting and ...",NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,www.kgisl.com,NaN,NaN,NaN
21,20.0,Nas,Olive Technologies Sdn Bhd,NaN,The company is an IT consulting firm focusing ...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.olivetechnologies.net/,NaN,NaN,NaN
22,21.0,Nas,Phitomas Sdn Bhd,NaN,Phitomas is a solution providers of consulting...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,https://phitomas.com/,NaN,NaN,NaN
23,22.0,Nas,AwanBiru Technology Berhad,NaN,Awantec (formerly known as Prestariang) is a T...,NaN,NaN,NaN,NaN,✓,...,122\n119\n191,683.0,NaN,NaN,NaN,NaN,https://www.awantec.my/,NaN,NaN,NaN
24,23.0,Nas,Pulsifi,NaN,Pulsifi's People Data Platform helps organizat...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://pulsifi.me/,NaN,NaN,NaN
25,24.0,Nas,Selatan Business Solutions Sdn Bhd,NaN,The company is a technology consulting group. ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.selatangroup.com/,NaN,NaN,NaN
26,25.0,Nas,Strateq Systems Sdn Bhd,NaN,The company is a technology enabler company pr...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,https://strateqgroup.com/,NaN,NaN,NaN
27,26.0,Nas,Turnkey Consulting Malaysia Sdn Bhd,NaN,The company is a cyber security company specia...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.turnkeyconsulting.com/,NaN,NaN,NaN
28,27.0,Nas,WILMAR GBS SDN BHD,NaN,"The company provides SAP solution for estates,...",NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wcs-global.com/,NaN,NaN,NaN
29,28.0,Matsushita,COGNIZANT TECHNOLOGY SOLUTIONS CORP,NaN,Cognizant Technology Solutions Corp. engages i...,NaN,NaN,NaN,NaN,✓,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cognizant.com/en-my,NaN,NaN,NaN

In [6]:
df1.columns

Index(['No.', 'Person in Charge', 'Company Name', 'Quick Summary',
       'Company Overview', 'DNB Company info', 'Good Candidate Reason',
       'Level of Recommendation\n(✗- ✓✓✓)', 'Type of Company', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Year Established', 'No. of Employees',
       'Partners/Technology', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Country \n(Source: D&B)', 'DNB URL', 'ZoomInfo URL',
       'Financials (Mn)', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Market Cap \n(MYR Mn)',
       'Website Quality\n(✓/✖)', 'Presence', 'Unnamed: 32', 'Shareholders',
       'Website', 'Contact Available?', 'Contacted?', 'Met?'],
      dtype='object')

In [7]:
df_use = pd.DataFrame(df1.loc[df1["DNB URL"].notna(),"DNB URL"])
df_use["info"] = None
df_use["year"] = None
df_use["country"] = None
df_use["revenue"] = None
df_use

,DNB URL,info,year,country,revenue
2,https://www.dnb.com/business-directory/company...,None,None,None,None
3,https://www.dnb.com/business-directory/company...,None,None,None,None
4,https://www.dnb.com/business-directory/company...,None,None,None,None
6,https://www.dnb.com/business-directory/company...,None,None,None,None
7,https://www.dnb.com/business-directory/company...,None,None,None,None
...,...,...,...,...,...
278,https://www.dnb.com/business-directory/company...,None,None,None,None
279,https://www.dnb.com/business-directory/company...,None,None,None,None
280,https://www.dnb.com/business-directory/company...,None,None,None,None
281,https://www.dnb.com/business-directory/company...,None,None,None,None
282,https://www.dnb.com/business-directory/company...,None,None,None,None

In [37]:
import requests
import chromedriver_binary

def func(i,url):
    time.sleep(0.5)
    
    option = Options()
    option.add_argument("--headless")
    driver = webdriver.Chrome()
    driver.get(url)
    
    soup = BeautifulSoup(driver.page_source, features="html.parser")
    try:
        year = soup.find("li", {"class":"year_started"})
        year = year.find("span", {"class":"value"}).text
        df_use.loc[i,"year"] = year.split()[0]
        print(year.split()[0])
    except:
        print(i,"year is NAN")
        
    
    info = soup.find("span",{"class":"company_summary"}).text
    print(info)
    
    country = soup.find("span", {"class":"company_country"}).text.split()[0]
    print(country.split()[0])

    
    df_use.loc[i,"info"] = info
    df_use.loc[i,"country"] = country
    
    driver.close()
    
    
    print(i,"finished")

In [36]:
url = df_use.loc[2,"DNB URL"]
func(2,url)

2 year is NAN

AttributeError: 'NoneType' object has no attribute 'text'

In [63]:
for i ,row in df_use[200:].iterrows():
    url = df_use.loc[i,"DNB URL"]
    try:
        func(i,url)
    except:
        print(i)

1997
AIRSTAR (M) SDN. BHD. is located in AMPANG, Selangor, Malaysia and is part of the Building Equipment Contractors Industry. AIRSTAR (M) SDN. BHD. has 90 total employees across all of its locations. (Employees figure is estimated).
Malaysia
231 finished
2009
AR-RIFQI SDN. BHD. is located in AMPANG, Selangor, Malaysia and is part of the Professional and Commercial Equipment and Supplies Merchant Wholesalers Industry. AR-RIFQI SDN. BHD. has 4 total employees across all of its locations.
Malaysia
232 finished
233 year is NAN
ASPEK TUMPUAN SDN BHD is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. ASPEK TUMPUAN SDN BHD has 14 total employees across all of its locations. (Employees figure is modelled).
Malaysia
233 finished
234 year is NAN
AUGMENTED TECHNOLOGY SDN. BHD. is located in KAJANG, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. AUGMENTED TECHNOLOGY SDN. BHD. has 45 total employees across all of its locations. (Employees figure is estimated).
Malaysia
234 finished
235 year is NAN
CARDZONE SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. CARDZONE SDN. BHD. has 20 total employees across all of its locations. (Employees figure is estimated).
Malaysia
235 finished
236
2011
CORE SYSTEM TECHNOLOGIES SDN. BHD. is located in KUCHING, Sarawak, Malaysia and is part of the Commercial and Industrial Machinery and Equipment Rental and Leasing Industry. CORE SYSTEM TECHNOLOGIES SDN. BHD. has 18 total employees across all of its locations. (Employees figure is modelled).
Malaysia
237 finished
238 year is NAN
CUSTELLA SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. CUSTELLA SDN. BHD. has 12 total employees across all of its locations. (Employees figure is estimated).
Malaysia
238 finished
2005
DATA-SPEAKS HOLDING (M) SDN. BHD. is located in KOTA BAHARU, Kelantan, Malaysia and is part of the Building Equipment Contractors Industry. DATA-SPEAKS HOLDING (M) SDN. BHD. has 16 total employees across all of its locations. (Employees figure is modelled).
Malaysia
239 finished
240 year is NAN
DATAKRAF SOLUTION SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. DATAKRAF SOLUTION SDN. BHD. has 14 total employees across all of its locations. (Employees figure is estimated).
Malaysia
240 finished
2007
DUTARINI SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. DUTARINI SDN. BHD. has 22 total employees across all of its locations. (Employees figure is estimated).
Malaysia
242 finished
243 year is NAN
EQUEST COM SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia. EQUEST COM SDN. BHD. has 15 total employees across all of its locations. (Employees figure is modelled).
Malaysia
243 finished
1982
FCS COMPUTER SYSTEMS SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. FCS COMPUTER SYSTEMS SDN. BHD. has 58 total employees across all of its locations. (Employees figure is estimated). There are 7 companies in the FCS COMPUTER SYSTEMS SDN. BHD. corporate family.
Malaysia
244 finished
245 year is NAN
FINEXUS CARDS SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Other Personal Services Industry. FINEXUS CARDS SDN. BHD. has 400 total employees across all of its locations. (Employees figure is estimated).
Malaysia
245 finished
2006
FIRST DATA MERCHANT SOLUTIONS (MALAYSIA) SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Other Personal Services Industry. FIRST DATA MERCHANT SOLUTIONS (MALAYSIA) SDN. BHD. has 14 total employees across all of its locations. (Employees figure is modelled).
Malaysia
246 finished
2006
FUSIONEX CORP. SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. FUSIONEX CORP. SDN. BHD. has 18 total employees across all of its locations. (Employees figure is modelled).
Malaysia
247 finished
248 year is NAN
GOLDSOFT SDN BHD is located in Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. GOLDSOFT SDN BHD has 14 total employees across all of its locations. (Employees figure is modelled).
Malaysia
248 finished
1996
HLA INTEGRATED SDN BHD is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Other Telecommunications Industry. HLA INTEGRATED SDN BHD has 25 total employees across all of its locations. (Employees figure is modelled).
Malaysia
249 finished
2002
ILAUNCH SDN. BHD. is located in SHAH ALAM, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. ILAUNCH SDN. BHD. has 50 total employees across all of its locations. (Employees figure is estimated).
Malaysia
251 finished
252 year is NAN
INFOSYTE SDN. BHD. is located in PUCHONG, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. INFOSYTE SDN. BHD. has 12 total employees across all of its locations. (Employees figure is estimated).
Malaysia
252 finished
1998
INNATECH SDN. BHD. is located in LABUAN, Sabah, Malaysia and is part of the Paint, Coating, and Adhesive Manufacturing Industry. INNATECH SDN. BHD. has 76 total employees across all of its locations. (Employees figure is modelled).
Malaysia
253 finished
2003
INTEGRASI ERAT SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. INTEGRASI ERAT SDN. BHD. has 20 total employees across all of its locations. (Employees figure is modelled).
Malaysia
254 finished
1998
KNOWLEDGECOM CORPORATION SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Business Schools and Computer and Management Training Industry. KNOWLEDGECOM CORPORATION SDN. BHD. has 15 total employees across all of its locations. (Employees figure is estimated).
Malaysia
255 finished
1995
LMS TECHNOLOGY DISTRIBUTIONS SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Professional and Commercial Equipment and Supplies Merchant Wholesalers Industry. LMS TECHNOLOGY DISTRIBUTIONS SDN. BHD. has 30 total employees across all of its locations. (Employees figure is estimated).
Malaysia
256 finished
2011
OS HRS SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Management, Scientific, and Technical Consulting Services Industry. OS HRS SDN. BHD. has 11 total employees across all of its locations. (Employees figure is modelled). There are 533 companies in the OS HRS SDN. BHD. corporate family.
Malaysia
257 finished
2008
PROTECHNOLOGY SDN. BHD. is located in SUBANG JAYA, Selangor, Malaysia and is part of the Household Appliances and Electrical and Electronic Goods Merchant Wholesalers Industry. PROTECHNOLOGY SDN. BHD. has 15 total employees across all of its locations. (Employees figure is estimated).
Malaysia
259 finished
260 year is NAN
PUNCAK TEGAP SDN BHD is located in Malaysia.
Malaysia
260 finished
2003
RADMIK SOLUTIONS SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Cable and Other Subscription Programming Industry. RADMIK SOLUTIONS SDN. BHD. has 27 total employees across all of its locations. (Employees figure is modelled).
Malaysia
261 finished
262 year is NAN
RQ NET MSC SDN BHD is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. RQ NET MSC SDN BHD has 14 total employees across all of its locations. (Employees figure is modelled).
Malaysia
262 finished
1982
SOLSIS (M) SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. SOLSIS (M) SDN. BHD. has 130 total employees across all of its locations. (Employees figure is estimated). There are 11 companies in the SOLSIS (M) SDN. BHD. corporate family.
Malaysia
264 finished

2003
SQL TECHNOLOGY SDN. BHD. is located in JOHOR BAHRU, Johor, Malaysia and is part of the Electronics and Appliance Stores Industry. SQL TECHNOLOGY SDN. BHD. has 9 total employees across all of its locations. (Employees figure is modelled).
Malaysia
265 finished
2008
SURIA BORNEO SDN. BHD. is located in KOTA KINABALU, Sabah, Malaysia and is part of the Other Telecommunications Industry. SURIA BORNEO SDN. BHD. has 25 total employees across all of its locations. (Employees figure is modelled).
Malaysia
266 finished
269 year is NAN
WEVO TECHNOLOGY SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Management, Scientific, and Technical Consulting Services Industry. WEVO TECHNOLOGY SDN. BHD. has 8 total employees across all of its locations. (Employees figure is estimated).
Malaysia
269 finished
2004
10 CREATIVE SOLUTIONS SDN. BHD. is located in Cyberjaya, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. 10 CREATIVE SOLUTIONS SDN. BHD. has 20 total employees across all of its locations. (Employees figure is estimated).
Malaysia
270 finished
2004
AEXIS TECHNOLOGIES SDN. BHD. is located in PETALING JAYA, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. AEXIS TECHNOLOGIES SDN. BHD. has 23 total employees across all of its locations. (Employees figure is estimated).
Malaysia
271 finished
2013
AIM SOLUTIONS SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. AIM SOLUTIONS SDN. BHD. has 36 total employees across all of its locations. (Employees figure is estimated).
Malaysia
272 finished
273 year is NAN
CWORKS TECHNOLOGIES SDN. BHD. is located in SERDANG, Selangor, Malaysia and is part of the Computer Systems Design and Related Services Industry. CWORKS TECHNOLOGIES SDN. BHD. has 32 total employees across all of its locations. (Employees figure is estimated).
Malaysia
273 finished
1952
Ericsson AB is located in Kista, Stockholm, Sweden and is part of the Computer Systems Design and Related Services Industry. Ericsson AB has 10,000 employees at this location and generates $15.46 billion in sales (USD).  There are 652 companies in the Ericsson AB corporate family.
Sweden
274 finished
1939
Hewlett Packard Enterprise (HPE), once part of the storied Hewlett-Packard Corp., designs and sells servers, storage, and networking equipment, and provides technology services to help its large enterprise customers put together and deploy IT systems. HPE has software-defined IT offerings for private, public, and hybrid cloud environments, as well as technologies for industrial Internet of Things (IoT) applications. HPE is a global company and around two-thirds of its revenue comes from outside the US. It has a rich technology history and maintains a cache of around 15,000 worldwide patents.
United
277 finished
278 year is NAN
LIBERTY TECHNOLOGY RESOURCES SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Other Telecommunications Industry. LIBERTY TECHNOLOGY RESOURCES SDN. BHD. has 55 total employees across all of its locations. (Employees figure is estimated).
Malaysia
278 finished
1999
MUTIARA TEKNOLOGI (M) SDN. BHD. is located in BANDAR BARU BANGI, Selangor, Malaysia and is part of the Household Appliances and Electrical and Electronic Goods Merchant Wholesalers Industry. MUTIARA TEKNOLOGI (M) SDN. BHD. has 28 total employees across all of its locations. (Employees figure is estimated).
Malaysia
279 finished
1996
NEXT SPHERE SDN. BHD. is located in Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. NEXT SPHERE SDN. BHD. has 10 total employees across all of its locations. (Employees figure is estimated). There are 2 companies in the NEXT SPHERE SDN. BHD. corporate family.
Malaysia
280 finished
2000
QUANTUM VIRTUALITY SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Computer Systems Design and Related Services Industry. QUANTUM VIRTUALITY SDN. BHD. has 20 total employees across all of its locations. (Employees figure is estimated). There are 3 companies in the QUANTUM VIRTUALITY SDN. BHD. corporate family.
Malaysia
281 finished
2008
UBICOMP SYSTEM SDN. BHD. is located in KUALA LUMPUR, Kuala Lumpur, Malaysia and is part of the Management, Scientific, and Technical Consulting Services Industry. UBICOMP SYSTEM SDN. BHD. has 17 total employees across all of its locations. (Employees figure is modelled).
Malaysia
282 finished

In [67]:
df_use["country"].value_counts()

Malaysia         187
United States     23
Australia          6
Singapore          5
India              4
Israel             2
Germany            2
Thailand           1
Norway             1
Cyprus             1
Netherlands        1
Switzerland        1
Sweden             1
Hong Kong          1
France             1
Poland             1
Spain              1
Name: country, dtype: int64

In [66]:
df_use.loc[df_use["country"]=="United","country"] = "United States"
df_use.loc[df_use["country"]=="Hong","country"] = "Hong Kong"

In [73]:
import re

for i,row in df_use.iterrows():
    
    tmp = row["info"]
    
    earn_pattern1 = r"([0-9]+)\,([0-9]+)\.([0-9]+) million"
    earn_pattern2 = r"([0-9]+)\.([0-9]+) million"
    earn_pattern3 = r"([0-9]+)\,([0-9]+) in sales"
    earn_pattern4 = r"([0-9]+)\.([0-9]+) billion"
    
    try:
        m1 = re.search(earn_pattern1,tmp)
        m2 = re.search(earn_pattern2,tmp)
        m3 = re.search(earn_pattern3,tmp)
        m4 = re.search(earn_pattern4,tmp)
    except:
        print(tmp)
    
    m = m1 if m1 else m2 if m2 else m3 if m3 else m4
    
    if m:
        if "million" in m[0]:
            out = m[0].split()[0]
            df_use.loc[i,"revenue"] = out
        
        elif "billion" in m[0]:
            out = m[0].split()[0]
            df_use.loc[i,"revenue"] = out
            
        elif "sale" in m[0]:
            out = m[0].split()[0]
            df_use.loc[i,"revenue"] = out
        
        print(out)

104.85
2.48
172.06
23.67
220,467
11.97
511.43
154.30
118.80
5.70
386,160
30.00
1.10
36.60
2.69
1.97
300,000
18.00
118,018
637,457
864,775
833,349
17.35
21.45
4.57
47.50
20.37
5.12
179.73
239.81
40.00
303.21
2.06
None
78.16
3.40
471,498
206.71
None
12.15
None
912.05
14.29
687,310
27.38
None
None
15.46

In [74]:
df_use

,DNB URL,info,year,country,revenue
2,https://www.dnb.com/business-directory/company...,ABEO INTERNATIONAL SDN. BHD. is located in KUA...,2011,Malaysia,None
3,https://www.dnb.com/business-directory/company...,ARVATO SYSTEMS MALAYSIA SDN. BHD. is located i...,2005,Malaysia,None
4,https://www.dnb.com/business-directory/company...,ASPERT INNOVATIONS SDN. BHD. is located in SER...,2011,Malaysia,None
6,https://www.dnb.com/business-directory/company...,cbs Corporate Business Solutions Unternehmensb...,1995,Germany,104.85
7,https://www.dnb.com/business-directory/company...,CROESUS IT SOLUTIONS SDN. BHD. is located in P...,None,Malaysia,None
...,...,...,...,...,...
278,https://www.dnb.com/business-directory/company...,LIBERTY TECHNOLOGY RESOURCES SDN. BHD. is loca...,None,Malaysia,None
279,https://www.dnb.com/business-directory/company...,MUTIARA TEKNOLOGI (M) SDN. BHD. is located in ...,1999,Malaysia,None
280,https://www.dnb.com/business-directory/company...,NEXT SPHERE SDN. BHD. is located in Kuala Lump...,1996,Malaysia,None
281,https://www.dnb.com/business-directory/company...,QUANTUM VIRTUALITY SDN. BHD. is located in KUA...,2000,Malaysia,None
282,https://www.dnb.com/business-directory/company...,UBICOMP SYSTEM SDN. BHD. is located in KUALA L...,2008,Malaysia,None

In [76]:
import openpyxl
openpyxl.Workbook()
wb = openpyxl.load_workbook(data_path)
sheet = wb["MY Main Long List"]
sheet

In [77]:
df_use.to_csv("work3.csv",index = False)