In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

from selenium import webdriver
from bs4 import BeautifulSoup
import time
from selenium.webdriver.chrome.options import Options # オプションを使うために必要

In [2]:
data_path="Wisdom_Long_List 20210917.xlsx"

In [3]:
df1=pd.read_excel(data_path,sheet_name="AU Main Long List")
df1.head(30)

,No.,Person in Charge,Company Name,Quick Summary,Company Overview,Good Candidate Reason,Level of Recommendation\n(✗- ✓✓✓),Type of Company,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Market Cap \n(AUD Mn) \n(as of July 13th),Registered Capital\n (AUD Mn),Shareholders,Website,Contact Available?,Contacted?,Met?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,System Integrator,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ERP only,ERP & Others,Others Only \n(comment),...,Total Assets,Total Liabilites,Net Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Minato,Acclimation Pty Ltd,capgemini company,"Acclimation, a Capgemini company, is an SAP so...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.acclimation.com/,NaN,NaN,NaN
3,2,Minato,Advanced Training Pty Ltd,NaN,Advanced Training is dedicated to IT technical...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://advancedtraining.com.au/,NaN,NaN,NaN
4,3,Minato,ASCENDER CLOUD SERVICES PTY LTD,NaN,Ascender focuses on creating prosperity throug...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.ascenderhcm.com/,NaN,NaN,NaN
5,4,Minato,ASG Group Limited,NRI company,"For over two decades, ASG has been providing b...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.asggroup.com.au/,NaN,NaN,NaN
6,5,Minato,Basis Expert Consulting Services,NaN,Basis Expert Consulting Services is a team of ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.beeceeyes.com/,NaN,NaN,NaN
7,6,Minato,BiTech Group,NaN,BiTech Group is one of Australian’s top SAP se...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://bitech.com.au/,NaN,NaN,NaN
8,7,Minato,Bluetree Solutions Pty Ltd,NaN,Bluetree is an Award Winning Consulting Compan...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://bluetree.com.au/,NaN,NaN,NaN
9,8,Minato,Bourne Digital,NaN,Bourne Digital are a specialist provider of SA...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.bournedigital.com.au/,NaN,NaN,NaN
10,9,Minato,CitySoft Consulting,NaN,CitySoft is an awarded Sage and SAP partner an...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://citysoft.net.au/,NaN,NaN,NaN
11,10,Minato,CJV Partners Pty Limited,NaN,CJV Partners is an SAP silver partner. We offe...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.cjvpartners.com/,NaN,NaN,NaN
12,11,Minato,CloudFactory.co,NaN,We are a passionate and long standing consulti...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.cloudfactory.co/,NaN,NaN,NaN
13,12,Minato,CompliantERP,NaN,CompliantERP is an SAP silver partner providin...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://complianterp.com/,NaN,NaN,NaN
14,13,Minato,DalRae Solutions Pty Ltd,NaN,"Founded in 2015, DalRae Solutions is a team of...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://dalraesolutions.com/,NaN,NaN,NaN
15,14,Minato,Discovery Consulting Group Pty Ltd,NaN,Discovery Consulting provides SAP and SuccessF...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.discoveryconsulting.com.au/,NaN,NaN,NaN
16,15,Minato,DXC Technology,Not Australian company,DXC provide a full spectrum of SAP-based solut...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.dxc.com/au/en,NaN,NaN,NaN
17,16,Minato,DyFlex Solutions,NaN,DyFlex is recognised as one of the leading SAP...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://dyflex.com.au/,NaN,NaN,NaN
18,17,Minato,Emisha A/NZ Pty. Ltd.,NaN,Emisha is a data management and analytics comp...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.emishaglobal.com/,NaN,NaN,NaN
19,18,Minato,Enterprise Wide Pty Ltd,NaN,Enterprise Wide is a professional services org...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.enterprisewide.com/,NaN,NaN,NaN
20,19,Minato,Environmental Resources Management Australia P...,NaN,As the largest global pure play sustainability...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.erm.com/,NaN,NaN,NaN
21,20,Minato,EPI-USE Australia Pty Ltd,NaN,With over 30-years’ experience in the delivery...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.epiuse.com/,NaN,NaN,NaN
22,21,Minato,excelerateds2p - APAC,NaN,"At excelerateds2p, we work with innovative org...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.excelerateds2p.com/,NaN,NaN,NaN
23,22,Minato,FAIR Consulting Group Pty Ltd,NaN,Our business is focused on crafting digital ex...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://faircg.com/,NaN,NaN,NaN
24,23,Minato,GO1 Pty Ltd,NaN,Go1 provides SAP SuccessFactors customers acce...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.go1.com/,NaN,NaN,NaN
25,24,Minato,Happiest Minds Technologies Pvt Ltd,NaN,Happiest Minds enables Digital Transformation ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.happiestminds.com/,NaN,NaN,NaN
26,25,Minato,HR Path,NaN,HR Path helps companies for who Human Experien...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.hr-path.com/,NaN,NaN,NaN
27,26,Minato,Infosys Australia - Portland,NaN,Infosys is Global Strategic Services Partner o...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infosys.com/,NaN,NaN,NaN
28,27,Minato,Integeo Pty Ltd,NaN,Integeo is strategically placed to provide inn...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.integeo.com/,NaN,NaN,NaN
29,28,Minato,JAF Solutions,NaN,JAF Solutions has a longstanding proven track ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://jafs.com.au/,NaN,NaN,NaN

In [4]:
df1.columns

Index(['No.', 'Person in Charge', 'Company Name', 'Quick Summary',
       'Company Overview', 'Good Candidate Reason',
       'Level of Recommendation\n(✗- ✓✓✓)', 'Type of Company', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Year Established',
       'No. of Employees\n(Estimated)', 'Partners/Technology', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'D&B URL',
       'Financials (USD Mn)', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Market Cap \n(AUD Mn) \n(as of July 13th)',
       'Registered Capital\n (AUD Mn)', 'Shareholders', 'Website',
       'Contact Available?', 'Contacted?', 'Met?'],
      dtype='object')

In [5]:
series_mic=df1["Unnamed: 17"]
series_mic

0                                NaN
1      Microsoft\n(Employees > 1000)
2                                NaN
3                                NaN
4                                NaN
                   ...
421                                ✓
422                                ✓
423                                ✓
424                                ✓
425                                ✓
Name: Unnamed: 17, Length: 426, dtype: object

In [15]:
print(len(df1),len(df1[334:]))
df1[334:]

426 92

,No.,Person in Charge,Company Name,Quick Summary,Company Overview,Good Candidate Reason,Level of Recommendation\n(✗- ✓✓✓),Type of Company,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Market Cap \n(AUD Mn) \n(as of July 13th),Registered Capital\n (AUD Mn),Shareholders,Website,Contact Available?,Contacted?,Met?
334,333,Hosoda,IT Partner LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,334,Hosoda,Scalable Data Systems Pty Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,335,Hosoda,FLY ON IT PTY LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,336,Hosoda,TechFlow Services Pty Limited.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,#REF!,Hosoda,Azured Consulting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,#REF!,Hosoda,Tech Data Advanced Solutions (ANZ) Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,#REF!,Hosoda,Wombat Projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,#REF!,Hosoda,SXIQ DIGITAL PTY LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,#REF!,Hosoda,eillO Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,#REF!,Hosoda,CT4 PTY LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import requests
from bs4 import BeautifulSoup
import time

def func(i,url):
    time.sleep(2) 
    
    option = Options()                          # オプションを用意
    option.add_argument('--headless')           # ヘッドレスモードの設定を付与
    driver = webdriver.Chrome()
    driver.get(url)

    soup = BeautifulSoup(driver.page_source, features="html.parser")
    profile=soup.find("span",{"class":"company_summary"}).text
    driver.close()
           
    df1.loc[i,"profile"]=profile
    
    print(i,"：正常終了")

In [11]:
mic_df=df1[334:]

for i,row in mic_df[mic_df["D&B URL"].notna()].iterrows():
    url=row["D&B URL"]
    try:
        func(i,url)
    except:
        print(i)

https://www.dnb.com/business-directory/company-profiles.scalable_data_systems_pty_ltd.3af41cfbe0aed8a0b8eab1f5f79ceeb3.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.flying_donkey_it_pty_ltd.4a3a35cd582ee933eb17e2eb64beee38.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.techflow_inc.5b0daddfbe3284cab32a9bfa2f73c620.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.azure_business_consulting_limited.9b600d645335cb3a47fdd7c7065aefd5.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.diversus_gmbh.633c3cca98709035d9c443420a039f59.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.macquarie_telecom_group_limited.78b27b15fb60e08bc87655ae6dac7df8.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.insight_enterprises_australia_pty_ltd.0b143f597541cd6f0f26a8511602df4f.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.henson_sales_group_inc.24eb72e55ae57c4d89984a7050a65760.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.artis_group_pty_limited.064e72465efca75bbf17b7b653e8d864.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.microway_pty_limited.d581a6c2423b8adb520e78c1967318d5.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.zetta_1_pty_ltd.997605c3746302070e56bee1b05ae35b.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.adits_pty_ltd.4baa47666a4b0c5a5ad6a3089affa6c9.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.terbridge_nominees_pty_ltd.a6f87c8b4d4811e1c39f15cc2c82b327.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.claude_group_pty_ltd.7543881f2961a903897674cb6eb89189.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.recom_group_pty_ltd.b935208f518cd4e4c06c77e093c6f09a.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.henson_firewood_processing_pty_ltd.f872d0e99bedf826e7ec551baa615ca2.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.5_js_sanitation.7723870e50084cccadac0c9eafe6f92a.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.committo_pty_ltd.4e4b5a9054db472c6a9d879f0fda1142.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.amristar_solutions_pty_ltd.d193ba7adbcac8cd3b925063b7a96d16.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.samsys_gmbh.b840fe5445721b457dd936825441c90e.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.backbone_hosting_solutions_inc.e452ca7162e4b8eb644e2afcf31e03dc.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.genova_industries_pte_ltd.b208d413c96b366ea8e7c8c1fa57d22e.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.ericom.9330d0e7a1cb39fc304b943e48ef3a9d.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.logic_it_solutions_pty_ltd.7ac52ab40a4cd047cac2e79c74344975.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.it_junction.31e702edeefbd1aeb3f953c01fb7790f.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.tt-solutions.2d6ef52fdaa12ce3391cdb64231d56a0.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.one_touch_technologies_inc.15cd4888ecee6330e075e543a12c7e1a.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.professional_advantage_holdings_pty_limited.4da7f8d0d77ca8930cbdb00345c94beb.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.kanepi_services_pty_ltd.d3e2c40fced87c37a5d44768fb680669.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.microchannel_services_pty_limited.6245349e9f94202fb8c30ce2ffe7a8e8.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.beyond_digital_pty_ltd.e8766ef52f1fad5aa86ce234b59bb750.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.winc_australia_pty_limited.c2475dba9074098c466b249f2ea10a0e.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.lvd_godrej_infotech.2fd4149d126a8aea6929637453787ea1.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.united_hemispheres_services_pty_ltd.da0a47a0c7454b7c1238f0ea846815cd.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.resolution_systems_pty_ltd.5a36e6f213992a651f779495cbff1f45.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.brennan_it_pty_limited.386b794c5c78d40c2e5221692923eaf3.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.datacom_systems_(au)_pty_ltd.b90257d2ce067641f5c7e9e10fadb0e3.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.scimitar_financial_solutions_(pty)_ltd.cef169f79a75182c.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.anytime_serviced_offices_(butler)_pty_ltd.71f93018f398b177acc4594707c17fd5.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.ingram_micro_pty_ltd.2985159e52b6226fe7324747cdf9ff6e.html ：正常終了
382
https://www.dnb.com/business-directory/company-profiles.arrow_ecs_australia_pty_limited.492fd8174689b1fd9a48a6a02778f232.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.winc_australia_pty_limited.c2475dba9074098c466b249f2ea10a0e.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.always_on_it_(pty)_ltd.67525dafcfe1ff3681a78e07d86cde8b.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.experteq_it_services_pty_ltd.2ad4e8a03d6df433bfdc43b6d473f0e1.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.a-dash_ltd.5267d654b9410b83f8a4a9e5fa3c5848.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.dreamer_media_llc.52cc8b90e5d3500d910c9cb315c64c11.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.rhipe_limited.089113cef676d8c8c7cc9e122ac84bcd.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.down_the_hatch_deli_and_bp.670cd6ef97b233b6bcc9770ac841822a.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.visible_technologies_inc.e9d9bb74ccf2dc17885ec39844e83cf6.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.continua_projects_pty_ltd.ee849a105e18943cb04c29dc8e5f6a32.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.oxygen_it_solutions_pty_ltd.018ee8446b622bcb197345b586d9114f.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.gold_circle_(pty)_ltd.d32134ea18b4fe87c35470071aa78c4b.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.kiandra_it_pty_ltd.a8b40ceacedef5c73e428a05e1dae657.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.iq3_inc.57666877d715492edd9f0bc841e4f22c.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.amaris_consulting_s%C3%A0rl.a0afb19eceafe99403c344140ea0d073.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.rain_technology_solutions.f907b07e56242bbffadadd3b3352a893.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.evocate_pty_ltd.8da28124dd0ece7d.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.satalyst_pty_ltd.d8746f7e577205cb248bdc7885734fec.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.xstra_group_pty_ltd.9e614e9e2563d666c08891fd62701355.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.cubesys_srl.25685d9bf083da88af0a0ff0e3fcf67e.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.nxt-it.b1584d03e2bade1fd7def2cfb866f135.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.gcomm_pty_ltd.f895ae4f63cffeb353d4c2d7abcce6b5.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.moqdigital_pty_ltd.a323b53c5aa76b5fde58e76829ddabd6.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.logi-tech_pty_ltd.c671a2c2ac5ba42c2674f317b290a82c.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.business_connexion_(pty)_ltd.25dcb5ebbd60b9759e4253afad020095.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.oobe_pty_ltd.496009529a2d388e8d0cffa7b8e0acf4.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.utilitise_it_pty_ltd.a58b5d0695466de3859189b26050f407.html ：正常終了

https://www.dnb.com/business-directory/company-profiles.logicalis_inc.0929f2263f09bc36b83098d7f3900a95.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.brandopc_solutions.a330edf94f1891260c87b7d7af578687.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.melbourne_it_gp_holdings_pty_ltd.2dd8d59c5b2ac32507909ee7bcff3d5b.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.logitec_japan_co_ltd.c3e5c03175e977ec5f8a000420b2462f.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.moqdigital_pty_ltd.a323b53c5aa76b5fde58e76829ddabd6.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.tech_data_advanced_solutions_(anz)_limited.154b2fd56ec94025d0a5868034c18747.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.sxiq_pty_ltd.e840fca8bbd1169bc9aa11ffbc5fc49c.html ：正常終了
https://www.dnb.com/business-directory/company-profiles.the_aiello_group_inc.e662e19e2c765bf050b3313fda228d7e.html ：正常終了

In [13]:
df1[df1["profile"].notna()].profile

335    SCALABLE DATA SYSTEMS PTY LTD is located in BR...
336    FLYING DONKEY IT PTY LTD is located in BRISBAN...
337    Techflow, Inc. is located in San Diego, CA, Un...
338    AZURE BUSINESS CONSULTING LIMITED is located i...
339    Diversus GmbH is located in Jever, Niedersachs...
                             ...
419    LOGITEC JAPAN CO., LTD. is located in OTA-KU, ...
420    MOQDIGITAL PTY LTD is located in Brisbane, QUE...
421    TECH DATA ADVANCED SOLUTIONS (ANZ) LIMITED is ...
423    SXIQ PTY LTD is located in Melbourne, VICTORIA...
424    The Aiello Group Inc is located in Royal Oak, ...
Name: profile, Length: 75, dtype: object

In [15]:
tmp=df1[df1["profile"].notna()].loc[335,"profile"]
tmp

'SCALABLE DATA SYSTEMS PTY LTD is located in BRISBANE CITY, QUEENSLAND, Australia and is part of the Computer Systems Design and Related Services Industry. SCALABLE DATA SYSTEMS PTY LTD has 19 employees at this location and generates $7.30 million in sales (USD). (Employees figure is estimated, Sales figure is modelled). There are 72 companies in the SCALABLE DATA SYSTEMS PTY LTD corporate family.'

In [38]:
import re

earn_pattern = r"([0-9]+)\.([0-9]+) million"
employ_pattern = r"([0-9]+) employee"
m = re.search(earn_pattern, tmp)
print(m)

<re.Match object; span=(234, 246), match='7.30 million'>

In [59]:
for i,row in df1[df1["profile"].notna()].iterrows():
    tmp=row["profile"]
    
    earn_pattern1 = r"([0-9]+)\.([0-9]+) million"
    earn_pattern2 = r"([0-9]+)\,([0-9]+) in sales"
    employ_pattern1 = r"([0-9]+) ([a-z]+) employee"
    employ_pattern2 = r"([0-9]+) employee"
    
    m1 = re.search(earn_pattern1, tmp)
    m2 = re.search(earn_pattern2, tmp)
    
    n1 = re.search(employ_pattern1, tmp)
    n2 = re.search(employ_pattern2, tmp)
    
    n=n1 if n1 else n2
    m=m1 if m1 else m2
    
    try:
        print(i,"earn : ",m[0],"employ : ",n[0])
        #print(i,"employ : ",n[0].split()[0])
        #print(i,"earn : ",m[0])
    except:
        if m:
            print(i,"earn : ",m[0],row["D&B URL"])
        elif n:
            print(i,"employ : ",n[0],row["D&B URL"])
        else:
            print(i,row["D&B URL"])

335 earn :  7.30 million employ :  19 employee
336 earn :  428,000 in sales employ :  5 employee
337 earn :  61.56 million employ :  393 total employee
338 earn :  1.37 million employ :  5 total employee
339 earn :  171,126 in sales employ :  2 total employee
340 earn :  173.77 million employ :  456 total employee
341 earn :  105.24 million employ :  269 total employee
342 earn :  113,762 in sales employ :  3 total employee
343 earn :  8.96 million employ :  100 employee
344 earn :  2.00 million employ :  10 employee
345 earn :  2.72 million employ :  27 total employee
346 earn :  2.10 million employ :  1 employee
348 earn :  4.70 million employ :  12 employee
350 earn :  5.66 million employ :  76 employee
351 earn :  7.21 million employ :  24 employee
352 earn :  600,040 in sales employ :  3 employee
353 earn :  200,000 in sales employ :  4 total employee
354 earn :  2.12 million employ :  9 employee
357 earn :  4.61 million employ :  16 employee
358 earn :  1.05 million employ :  6 employee
359 earn :  4.80 million employ :  26 total employee
360 employ :  15 total employee https://www.dnb.com/business-directory/company-profiles.genova_industries_pte_ltd.b208d413c96b366ea8e7c8c1fa57d22e.html
361 earn :  35,479 in sales employ :  1 employee
363 earn :  1.89 million employ :  10 employee
366 earn :  69,124 in sales employ :  4 employee
367 earn :  200,388 in sales employ :  2 employee
368 earn :  643,094 in sales employ :  8 total employee
369 earn :  644,923 in sales employ :  250 employee
370 earn :  1.71 million employ :  29 total employee
371 earn :  30.40 million employ :  161 employee
372 earn :  624,000 in sales employ :  5 employee
373 earn :  525.95 million employ :  100 total employee
374 earn :  68,606 in sales employ :  1 employee
375 earn :  756,000 in sales employ :  4 employee
376 earn :  1.88 million employ :  6 total employee
377 earn :  72.70 million employ :  284 total employee
378 earn :  389.90 million employ :  175 total employee
379 earn :  2.09 million employ :  11 total employee
380 earn :  1.23 million employ :  40 total employee
381 earn :  145,811 in sales employ :  4 employee
383 earn :  279.92 million employ :  231 total employee
384 earn :  525.95 million employ :  100 total employee
385 earn :  2.22 million employ :  20 total employee
386 earn :  5.62 million employ :  25 employee
387 employ :  52 employee https://www.dnb.com/business-directory/company-profiles.a-dash_ltd.5267d654b9410b83f8a4a9e5fa3c5848.html
388 earn :  1.00 million employ :  8 total employee
389 earn :  36.54 million employ :  400 total employee
390 earn :  137,409 in sales employ :  12 total employee
391 earn :  12.02 million employ :  70 total employee
392 earn :  846,967 in sales employ :  11 total employee
393 earn :  1.80 million employ :  10 employee
394 earn :  1.90 million employ :  20 total employee
395 earn :  16.60 million employ :  52 employee
396 earn :  725,930 in sales employ :  5 total employee
398 employ :  5 employee https://www.dnb.com/business-directory/company-profiles.amaris_consulting_s%C3%A0rl.a0afb19eceafe99403c344140ea0d073.html
399 earn :  5.69 million employ :  55 total employee
401 earn :  528,552 in sales employ :  12 employee
402 earn :  6.63 million employ :  23 employee
403 earn :  2.25 million employ :  9 employee
404 earn :  2.05 million employ :  17 employee
406 earn :  779,104 in sales https://www.dnb.com/business-directory/company-profiles.nxt-it.b1584d03e2bade1fd7def2cfb866f135.html
407 earn :  19.57 million employ :  25 employee
408 earn :  14.28 million employ :  40 employee
410 earn :  292,953 in sales employ :  40 employee
411 employ :  65 total employee https://www.dnb.com/business-directory/company-profiles.business_connexion_(pty)_ltd.25dcb5ebbd60b9759e4253afad020095.html
412 earn :  16.64 million employ :  85 employee
413 earn :  477,694 in sales employ :  10 employee
414 https://www.dnb.com/business-directory/company-profiles.logicalis_inc.0929f2263f09bc36b83098d7f3900a95.html
417 earn :  728,195 in sales employ :  2 employee
418 earn :  56.83 million employ :  623 total employee
419 employ :  7 employee https://www.dnb.com/business-directory/company-profiles.logitec_japan_co_ltd.c3e5c03175e977ec5f8a000420b2462f.html
420 earn :  14.28 million employ :  40 employee
421 earn :  229.72 million employ :  102 total employee
423 earn :  24.84 million employ :  71 employee
424 earn :  310,000 in sales employ :  6 total employee

In [62]:
import openpyxl
openpyxl.Workbook()
wb=openpyxl.load_workbook(data_path)
sheet = wb["AU Main Long List"]
sheet

In [65]:
for i,row in df1[df1["profile"].notna()].iterrows():
    print(i,"##############################")
    tmp=row["profile"]
    
    earn_pattern1 = r"([0-9]+)\.([0-9]+) million"
    earn_pattern2 = r"([0-9]+)\,([0-9]+) in sales"
    employ_pattern1 = r"([0-9]+) ([a-z]+) employee"
    employ_pattern2 = r"([0-9]+) employee"
    
    m1 = re.search(earn_pattern1, tmp)
    m2 = re.search(earn_pattern2, tmp)
    
    n1 = re.search(employ_pattern1, tmp)
    n2 = re.search(employ_pattern2, tmp)
    
    n=n1 if n1 else n2
    m=m1 if m1 else m2
    
    if n:
        out1=n[0].split()[0]
        sheet.cell(column=14,row=i+2).value = out1
        print("1",out1)
    
    if m:
        if "sale" in m[0]:
            out2=m[0].split()[0]
            sheet.cell(column=22,row=i+2).value = out2
        elif "million" in m[0]:
            out2=" ".join(m[0].split()[:2])
            sheet.cell(column=22,row=i+2).value = out2
        print("2",out2)

335 ##############################
1 19
2 7.30 million
336 ##############################
1 5
2 428,000
337 ##############################
1 393
2 61.56 million
338 ##############################
1 5
2 1.37 million
339 ##############################
1 2
2 171,126
340 ##############################
1 456
2 173.77 million
341 ##############################
1 269
2 105.24 million
342 ##############################
1 3
2 113,762
343 ##############################
1 100
2 8.96 million
344 ##############################
1 10
2 2.00 million
345 ##############################
1 27
2 2.72 million
346 ##############################
1 1
2 2.10 million
348 ##############################
1 12
2 4.70 million
350 ##############################
1 76
2 5.66 million
351 ##############################
1 24
2 7.21 million
352 ##############################
1 3
2 600,040
353 ##############################
1 4
2 200,000
354 ##############################
1 9
2 2.12 million
357 ##############################
1 16
2 4.61 million
358 ##############################
1 6
2 1.05 million
359 ##############################
1 26
2 4.80 million
360 ##############################
1 15
361 ##############################
1 1
2 35,479
363 ##############################
1 10
2 1.89 million
366 ##############################
1 4
2 69,124
367 ##############################
1 2
2 200,388
368 ##############################
1 8
2 643,094
369 ##############################
1 250
2 644,923
370 ##############################
1 29
2 1.71 million
371 ##############################
1 161
2 30.40 million
372 ##############################
1 5
2 624,000
373 ##############################
1 100
2 525.95 million
374 ##############################
1 1
2 68,606
375 ##############################
1 4
2 756,000
376 ##############################
1 6
2 1.88 million
377 ##############################
1 284
2 72.70 million
378 ##############################
1 175
2 389.90 million
379 ##############################
1 11
2 2.09 million
380 ##############################
1 40
2 1.23 million
381 ##############################
1 4
2 145,811
383 ##############################
1 231
2 279.92 million
384 ##############################
1 100
2 525.95 million
385 ##############################
1 20
2 2.22 million
386 ##############################
1 25
2 5.62 million
387 ##############################
1 52
388 ##############################
1 8
2 1.00 million
389 ##############################
1 400
2 36.54 million
390 ##############################
1 12
2 137,409
391 ##############################
1 70
2 12.02 million
392 ##############################
1 11
2 846,967
393 ##############################
1 10
2 1.80 million
394 ##############################
1 20
2 1.90 million
395 ##############################
1 52
2 16.60 million
396 ##############################
1 5
2 725,930
398 ##############################
1 5
399 ##############################
1 55
2 5.69 million
401 ##############################
1 12
2 528,552
402 ##############################
1 23
2 6.63 million
403 ##############################
1 9
2 2.25 million
404 ##############################
1 17
2 2.05 million
406 ##############################
2 779,104
407 ##############################
1 25
2 19.57 million
408 ##############################
1 40
2 14.28 million
410 ##############################
1 40
2 292,953
411 ##############################
1 65
412 ##############################
1 85
2 16.64 million
413 ##############################
1 10
2 477,694
414 ##############################
417 ##############################
1 2
2 728,195
418 ##############################
1 623
2 56.83 million
419 ##############################
1 7
420 ##############################
1 40
2 14.28 million
421 ##############################
1 102
2 229.72 million
423 ##############################
1 71
2 24.84 million
424 ##############################
1 6
2 310,000

In [66]:
wb.save("Sample.xlsx")